
.card {
    background-color: #F0F0F0;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
    border: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
    max-height: 400px; /* Altura máxima de la imagen */
}

.card-title {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.card-text {
    font-size: 16px;
    color: #555;
}